<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <!--
  JTA = EntityManager que é gerenciado pelo container (utilizado em ejbs)
  <persistence-unit name="ExemploApplicationUnit" transaction-type="JTA">
  -->
  <!-- 
    RESOURCE_LOCAL = EntityManagerFactory gerenciado manualmente
    <persistence-unit name="ExemploApplicationUnit" transaction-type="JTA">      
    -->
<persistence-unit name="ExemploApplicationUnit" transaction-type="RESOURCE_LOCAL">  
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <!-- 
      <mapping-file>ormap.xml</mapping-file>
      <jar-file>MyApp.jar</jar-file>
      <class>org.acme.Employee</class>
      <class>org.acme.Person</class>
      <class>org.acme.Address</class>
      <shared-cache-mode>ENABLE_SELECTOVE</shared-cache-mode>
      <validation-mode>CALLBACK</validation-mode>
      <exclude-unlisted-classes>true</exclude-unlisted-classes>
      <non-jta-data-source>jdbc/SamplePostgres</non-jta-data-source>
      -->
    <jta-data-source>jdbc/SamplePostgres</jta-data-source>
    <properties>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
        <!-- property name="hibernate.hbm2ddl.auto" value="create-drop"/ -->
        <property name="hibernate.show_sql" value="true"/>
        <property name="hibernate.format_sql" value="false"/>
        
        <!-- 
        DADOS QUE ESTAO NO POLL
        <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
        <property name="hibernate.connection.username" value="postgres"/>
        <property name="hibernate.connection.password" value="123456"/>
        <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/my_db1_sample"/>
        -->
        <property name="hibernate.cache.provider_class" value="org.hibernate.cache.HashtableCacheProvider"/>
    </properties>
 </persistence-unit>
  
</persistence>
